<div class="jungle">
  <div class="animal" (click)="selectAnimal('rana')" style="top: 50%; left: 20%;">
    <img src="assets/images/rana.png" alt="Rana">
    <div *ngIf="selectedAnimal === 'rana'" class="bubble">
      <h3>Rana</h3>
      <div *ngFor="let sound of getSoundsForAnimal('rana')">
        <button (click)="playSound('rana', sound)">{{ sound }}</button>
      </div>
    </div>
  </div>

  <div class="animal" (click)="selectAnimal('libelula')" style="top: 40%; left: 50%;">
    <img src="assets/images/libelula.png" alt="Libelula">
    <div *ngIf="selectedAnimal === 'libelula'" class="bubble">
      <h3>Libélula</h3>
      <div *ngFor="let sound of getSoundsForAnimal('libelula')">
        <button (click)="playSound('libelula', sound)">{{ sound }}</button>
      </div>
    </div>
  </div>

  <div class="animal" (click)="selectAnimal('grillo')" style="top: 60%; left: 80%;">
    <img src="assets/images/Grillo.png" alt="Grillo">
    <div *ngIf="selectedAnimal === 'grillo'" class="bubble">
      <h3>Grillo</h3>
      <div *ngFor="let sound of getSoundsForAnimal('grillo')">
        <button (click)="playSound('grillo', sound)">{{ sound }}</button>
      </div>
    </div>
  </div>

  <div *ngIf="message" class="message">
    {{ message }}
  </div>
</div>
